Link {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    max-width: 100%;
}
.navfilho {
    max-width: 100%;
    margin: 0 0 0 50px;
    font-size: 15px;
} 

.navbar { 
display: flex;
justify-content: space-between;
align-items: center;
color: #333;
border: 1px solid #ddd;
max-width: 100%;
}


.nav-links {
display: flex;
gap: 30px;
margin: 10px 20px 10px 0;
max-width: 100%;
}

 .navfilho:hover {
    background-color:rgba(129, 122, 126, 0.3);
    font-size: 20px;
    border-radius: 12px;
    padding: 0 10px;
}

.icon-login {
   flex-wrap: end;
   max-width: 100%;
} 

